.background
{
    background-color: #a6b7e4;
    height: 823px;
}

.forma
{
    
    background-color: #4476FF;
    box-shadow: 4px 4px rgba(0, 0, 0, .4);
    margin: auto;
    background-size: 95%;
    height: 250px;
    width: 601px;
    border-radius: 25px;
    padding-top: 10px;
    
}
.logbutton
{
    margin-top: 24px;
    background-image: url("./Button.png");
    background-size: cover;
    height: 62px;
    width: 150px;
    color: white;
    font-size: 32px;

}