.topbar
{
    width: 100%;
    background-color: #4476FF;
}
.mainspace
{
    background-image: url("chess.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px ;
    align-content: center;
    height: 823px;
}
.signupbutton
{
    
    margin-top: 180px;
    background-image: url("./splashbutton.png");
    background-size: cover;
    height: 150px;
    width: 387px;
    border-radius: 75px;
    color: white;
    font-size: 36px;

}
.loginbutton
{
    margin-top: 50px;
    background-image: url("./splashbutton.png");
    background-size: cover;
    height: 101px;
    width: 258px;
    border-radius: 50px;
    color: white;
    font-size: 24px;
}